<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Airbnb Home</title>
  <link rel="stylesheet" href="home.css">
  
</head>
<body>
  <h1>Welcome to Airbnb</h1>
  <a href="/home/register">Register Your Home</a>
  <div>
    <h1>Here are our registered homes</h1>
    <ul>
      <% homes.forEach((home)=>{%>
        <li>
          <%= home.houseName%>
        </li>
      <%})%>
    </ul>
  </div>
</body>
</html>
